/*
Errno::ENOENT: No such file or directory @ rb_sysopen - application.sass

Backtrace:
/Users/paulnewsam/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-4.0.0.alpha.1/lib/sass/plugin/compiler.rb:482:in `read'
/Users/paulnewsam/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-4.0.0.alpha.1/lib/sass/plugin/compiler.rb:482:in `update_stylesheet'
/Users/paulnewsam/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-4.0.0.alpha.1/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/paulnewsam/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-4.0.0.alpha.1/lib/sass/plugin/compiler.rb:209:in `each'
/Users/paulnewsam/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-4.0.0.alpha.1/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/paulnewsam/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-4.0.0.alpha.1/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/paulnewsam/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-4.0.0.alpha.1/lib/sass/plugin.rb:108:in `method_missing'
/Users/paulnewsam/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-4.0.0.alpha.1/lib/sass/exec/sass_scss.rb:381:in `watch_or_update'
/Users/paulnewsam/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-4.0.0.alpha.1/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/paulnewsam/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-4.0.0.alpha.1/lib/sass/exec/base.rb:52:in `parse'
/Users/paulnewsam/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-4.0.0.alpha.1/lib/sass/exec/base.rb:19:in `parse!'
/Users/paulnewsam/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-4.0.0.alpha.1/bin/sass:13:in `<top (required)>'
/Users/paulnewsam/.rbenv/versions/2.1.5/bin/sass:22:in `load'
/Users/paulnewsam/.rbenv/versions/2.1.5/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - application.sass"; }
